<nav>
  <div class="nav-container">
    <div class="menu-toggle">
      <div class="hamburger">
        <span></span>
      </div>
    </div>
    <div class="weather">
      <span>Currently at Jurassic Park: </span>
      <span class="temperature">75</span>
      <span class="weather-icon"></span>
    </div>
    <div class="img-container">
      <a href="/"><img src="/imgs/logo2.svg" alt="jplogo" id="nav-logo" /></a>
    </div>
    <div class="nav-links-desktop">
      <a href="/booktrip" class="nav-item-desktop">Book Now</a>
      <a href="/dinosaurs" class="nav-item-desktop">Meet Our Dinos!</a>
      <!-- <a class="nav-item-desktop">Attractions</a> -->
      <a href="/contact" class="nav-item-desktop">Contact Us</a>
    </div>
  </div>
</nav>
