<nav>
  <header class="nav-container">
    <div class="menu-toggle">
      <div class="hamburger">
        <span> </span>
      </div>
    </div>
    <div class="weather">
      <span>Weather at Jurassic Park: </span>
      <span class="temperature">75</span>
      <span class="weather-icon"
        ><img src="/icons/a06d.png" alt="a weather icon" id="weather-image"
      /></span>
    </div>
    <div class="hours">
      <span>Jurassic Park Is Currently: <span id="parkOpen">open</span></span>
    </div>
    <div class="img-container">
      <a href="/"
        ><img src="/imgs/logo2.svg" alt="jurassic park logo" id="nav-logo"
      /></a>
    </div>
    <div class="nav-links-desktop">
      <a href="/booktrip" class="nav-item-desktop">Book Now</a>
      <a href="/dinosaurs" class="nav-item-desktop">Meet Our Dinos!</a>
      <a href="/contact" class="nav-item-desktop">Contact Us</a>
    </div>
    <div class="login-link">
      <% if(!currentUser) { %>
      <a href="/register">Register</a>
      <a href="/signin">Sign In</a>
      <% } else { %>
      <span class="greeting">Hello, <%= currentUser.username %></span>
      <form action="/logout" method="POST">
        <button class="logout-link-btn">Sign Out</button>
      </form>
      <% } %>
    </div>
  </header>
</nav>
