<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <title>Jurassic Park&#174; Official Site</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>

    <section class="mobile-dropdown">
      <a href="/booktrip" class="link-item-mobile">Book Now</a>
      <a href="/dinosaurs" class="link-item-mobile">Meet Our Dinos!</a>
      <a href="/contact" class="link-item-mobile">Contact Us</a>
    </section>
    <%- include('../partials/flash') %> <%- body %>
    <script src="/js/main.js"></script>
    <script src="/js/register.js"></script>
  </body>
</html>
