<% layout('layouts/boilerplate') %>
<div class="new-contact">
  <div class="new-dino-form-wrapper">
    <h1 class="contact-header">Contact Us</h1>
    <p>
      Have questions, comments, or concerns? Our team is here to help. Leave
      your information and a Jurassic Park Adventure Specialist will reach out
      to you.
    </p>
    <form action="/contact" method="POST" class="new-dino-form">
      <div class="new-form-row">
        <div class="new-form-column">
          <label for="firstName" class="new-form-label">First Name</label>
          <input
            type="text"
            name="contact[firstName]"
            id="firstName"
            class="new-form-input"
            required
          />
        </div>
        <div class="new-form-column">
          <label for="lastName" class="new-form-label">Last Name</label>
          <input
            type="text"
            name="contact[lastName]"
            id="lastName"
            class="new-form-input"
            required
          />
        </div>
      </div>
      <div class="new-form-row">
        <div class="new-form-column">
          <label for="email" class="new-form-label">Email</label>
          <input
            type="email"
            name="contact[email]"
            id="email"
            class="new-form-input"
            required
          />
        </div>
        <div class="new-form-column">
          <label for="address" class="new-form-label">Address</label>
          <input
            type="text"
            name="contact[streetAddress]"
            id="address"
            class="new-form-input"
            required
          />
        </div>
      </div>
      <div class="new-form-row">
        <div class="new-form-column">
          <label for="city" class="new-form-label">City</label>
          <input
            type="text"
            name="contact[city]"
            id="city"
            class="new-form-input"
            required
          />
        </div>
        <div class="new-form-column">
          <label for="state" class="new-form-label">State</label>
          <input
            type="text"
            name="contact[state]"
            id="state"
            class="new-form-input"
            required
          />
        </div>
      </div>
      <div class="new-form-row">
        <div class="new-form-column">
          <label for="zipCode" class="new-form-label">Zip Code</label>
          <input
            type="text"
            name="contact[zipCode]"
            id="zipCode"
            class="new-form-input"
            required
          />
        </div>
        <div class="new-form-column">
          <label for="telephoneNumber" class="new-form-label"
            >Phone Number</label
          >
          <input
            type="phone"
            name="contact[telephoneNumber]"
            id="telephoneNumber"
            class="new-form-input"
            required
          />
        </div>
      </div>
      <div class="new-form-row">
        <div class="new-form-column">
          <label for="comments" class="new-form-label"
            >Questions/Comments</label
          >
          <textarea
            name="contact[comments]"
            id="comments"
            cols="30"
            rows="3"
          ></textarea>
        </div>
      </div>
      <div class="new-button">
        <button class="new-btn">Submit</button>
      </div>
    </form>
  </div>
</div>
