<% layout('layouts/boilerplate') %>
<main>
  <section class="mobile-dropdown">
    <a href="/book" class="link-item-mobile">Book Now</a>
    <a href="#" class="link-item-mobile">Meet Our Dinos!</a>
    <a href="/contact" class="link-item-mobile">Contact Us</a>
  </section>
</main>
