<% layout('layouts/boilerplate') %>
<div class="error-wrapper">
  <h1>You broke something at Jurassic Park!!!</h1>
  <h2>Don't worry, the dinosaurs aren't loose... yet</h2>
  <h2>Error message : <%= err.message %></h2>
  <a href="/"> Let's try again</a>
</div>
