<% layout('layouts/boilerplate') %>

<main>
  <section class="mobile-dropdown">
    <a href="/book" class="link-item-mobile">Book Now</a>
    <a href="#" class="link-item-mobile">Meet Our Dinos!</a>
    <a href="/contact" class="link-item-mobile">Contact Us</a>
  </section>
  <section class="banner">
    <div class="home-container">
      <h1>
        A destination <br />
        <span id="years">65 million years</span> in the making
      </h1>
      <div class="reserve">
        <h3>Make memories for a lifetime in the land that time forgot</h3>
        <a href="/book" class="btn">Start Your Adventure</a>
      </div>
      <!-- <button class="btn">Start Your Adventure</button> -->
    </div>
  </section>
</main>
