<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code:You Web Dev 2024</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="thank-you-body">
      <div class="thank-you-img">
        <img
          src="https://code-you.org/wp-content/uploads/2023/07/codeyou-logo-wink.gif"
          alt="code:you logo"
        />
      </div>
      <div class="thank-you-header">
        <h1>Thank you for checking out my project!</h1>
      </div>
      <div class="thank-you-inner">
        <h2>
          Unfortunately, this is just a demo app and tickets cannot be bought
          for Jurassic Park, nor will you hear from their outreach team.
        </h2>
        <h3>
          If you are ready to hire an awesome Web Developer in real life,
          however, these are my details:
        </h3>
        <ul>
          <li>
            Email:
            <a href="mailto:scottie.cornett@gmail.com"
              >scottie.cornett@gmail.com</a
            >
          </li>
          <li>Telephone : (859) 750-4280</li>
          <li>
            <a href="http://www.linkedin.com/in/scottie-cornett-a5515729a"
              >My LinkedIn profile</a
            >
          </li>
        </ul>
      </div>

      <div class="thank-you-link">
        <a href="/">Venture Back to Jurassic Park!</a>
      </div>
    </div>
  </body>
</html>
