@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Fira+Sans:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');

:root {
  --main-font: 'Fira Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: var(--main-font);
}

.home-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}

.btn {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  background-color: rgb(250, 101, 1);
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
  padding-bottom: 10px;
  background: linear-gradient(
    to top left,
    rgba(255, 29, 24, 1),
    rgba(240, 184, 62, 1)
  );
}

.nav-links-desktop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  list-style: none;
  /* border: 1px solid black; */
}

.nav-item-desktop {
  font-size: 25px;
  font-family: var(--main-font);
  /* color: rgb(240, 245, 255); */
  color: rgba(210, 210, 210, 1);
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
main section.banner {
  color: #fff;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../imgs/hero-main.png);
  position: top right;
  background-size: cover;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #12002f;
    opacity: 0.4;
  }
}

main section.banner .home-container {
  position: relative;
  z-index: 1;
}
.home-container h1 {
  color: white;
  font-size: 72px;
  font-weight: 700;
}
.reserve {
  color: white;
  font-size: 30px;
  padding: 3rem 0;
  font-weight: 300;
}
.contact-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: url('../imgs/control2.png');
  background-size: cover;
  font-size: 1.5em;
}
.dino-container {
  display: flex;
  color: #eee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: url('../imgs/aviary1.png');
  background-size: cover;
}
.dino-container h1 {
  font-size: 96px;
  padding-bottom: 3rem;
  color: rgba(250, 101, 1, 0.85);
  text-shadow: 0.5px 0.5px 0 rgb(0, 0, 0);
}
.dino-container .dino-list {
  list-style: none;
}
.dino-container .dino-list a {
  text-decoration: none;
  font-size: 48px;
  color: #eee;
}

.dino-show-body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #fff, #ccc);
}

.dino-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.dino-card {
  display: block;
  max-width: 900px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-out;
}
.dino-card:hover {
  transform: translate(-6px, -6px);
  box-shadow: 12px 12px rgba(0, 0, 0, 0.2);
}
.dino-card-inner {
  background-color: #fff;
}
.dino-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  padding: 25px;
}
.dino-img {
  max-width: 750px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.dino-card-header h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 300;
  text-transform: uppercase;
}
.dino-card-body {
  padding: 25px;
}
.dino-card-body h2 {
  color: #222;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.dino-card-body p {
  color: #666;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
.dino-card-body p:last-of-type {
  margin-bottom: 0;
}
.return-to-dinos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
}
.return-to-dinos a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(250, 101, 1);
  text-transform: uppercase;
  color: #fff;
}
.contact-body {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.contact-body .contact-title {
  font-size: 2em;
  font-weight: 600;
  position: relative;
}
.contact-body form .contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .contact-details .contact-input {
  margin-bottom: 15px;
  margin-right: 15px;
  width: calc(100% / 2 - 20px);
}
.contact-details .contact-input .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.contact-details .contact-input input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 0.5em;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.contact-details .contact-input input:focus,
.contact-details .contact-input input:valid {
  border-color: #12002f;
}

form .contact-btn {
  height: 45px;
  margin: 45px 0;
}

form .contact-btn input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  background-color: #12002f;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 1em;
  border: none;
  cursor: pointer;
}
form .contact-btn input:hover {
  background: #ccc;
}
#years {
  color: rgb(250, 101, 1);
  font-style: italic;
}
.booking-body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ddd;
}
.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}
.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
}
.pricing-plan:last-child {
  border-bottom: none;
}
.pricing-img {
  margin-bottom: 25px;
  width: 220px;
  margin-top: 10px;
}
.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}
.pricing-features {
  margin: 50px 0 25px;
  color: #8695a7;
}
.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  list-style: none;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #ddd;
}
.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}
.pricing-price {
  color: #8695a8;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #aaa;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
}
.pricing-button:hover,
.pricing-button:focus {
  cursor: pointer;
  background-color: #eee;
  transition: background-color 200ms ease-in-out;
}

.pricing-button.is-featured {
  background-color: #8695a7;
  color: white;
}
.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
  background-color: #aaa;
}
.nav-item-desktop:hover {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
  /* text-shadow: 0px 0px 2px rgb(218, 218, 218); */
  /* border-bottom: 2px solid white; */
}

.drop-down-active {
  display: flex;
  border: 2px solid black;
}
.plan-drop-down {
  display: none;
  position: absolute;
  top: 245px;
  padding-top: -1rem;
  border: 1px solid black;
}
/* .meet-drop-down {
    display: none;
    position: absolute;
    top: 245px;
    padding-top: -1rem;
    border: 1px solid black;
  } */
.is-active {
  display: flex;
  opacity: 1;
}
.is-active:hover {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 1.2rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  /* background-color: #2e3047; */
  /* background-color: #aaa; */
  cursor: pointer;
}
.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  /* padding: 0.0125rem; */
  position: absolute;
  width: 100%;
  height: 7px;
  border-radius: 99px;
  background-color: #2e3047;
  transition-duration: 0.25s;
}
.hamburger > span::before {
  content: '';
  top: -13px;
}
.hamburger > span::after {
  content: '';
  top: 13px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}
.weather {
  z-index: 99 !important;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 10px;
  margin-left: 10px;
}
.hours {
  z-index: 99 !important;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 30px;
  margin-left: 10px;
}
.mobile-dropdown {
  display: none;
  font-size: 30px;
  background-color: #eee;
  z-index: 99 !important;
}
.mobile-dropdown > a {
  text-decoration: none;
  padding: 15px 0px;
  color: var(--darkgray);
}

.is-selected {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 203px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}
.modal {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal h2 {
  margin: 40px 40px;
  font-size: 42px;
  font-weight: 400;
  text-transform: uppercase;
}
.modal label {
  margin-right: 15px;
}
.modal-section {
  font-size: 20px;
  padding: 15px;
}
.modal option {
  width: 20px;
  margin-left: 10px;
}
#tickets {
  width: 50px;
  height: 30px;
}
#trip-length {
  width: 50px;
  height: 30px;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 15;
}

#nav-logo {
  height: 175px;
  width: 175px;
}
.hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-item-desktop {
    font-size: 18px;
  }
  .container {
    justify-content: center;
  }
  h1,
  h3 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .btn {
    margin-left: 32px;
  }
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .mobile-dropdown .link-item-mobile {
    transition: 2s ease;
  }
  .container.btn {
    margin: 0 auto;
  }
  .weather {
    display: none;
  }
  .hours {
    display: none;
  }
  .container {
    padding-left: 32px;
    padding-right: 32px;
    justify-content: center;
  }

  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 25px;
  }

  .nav-links-desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    border-right: none;
  }
}
