@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Fira+Sans:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');
@font-face {
  font-family: 'JurassicFont';
  src: url('../fonts/JurassicPark-BL48.ttf');
}

:root {
  --main-font: 'Fira Sans', sans-serif;
  --nav-font: 'JurassicFont', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: var(--main-font);
}
body {
  display: flex;
  flex-direction: column;
}
.img {
  display: block;
  max-width: 100%;
}
.home-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}

.main-btn {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  background-color: rgb(250, 101, 1);
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  padding-bottom: 10px;
  background: linear-gradient(
    to top left,
    rgba(255, 29, 24, 1),
    rgba(240, 184, 62, 1)
  );
}

.nav-links-desktop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  list-style: none;
}

.nav-item-desktop {
  font-size: 40px;
  font-family: var(--nav-font);
  letter-spacing: 2px;
  border-bottom: 2px solid transparent;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
.nav-item-desktop:hover {
  border-bottom: 2px solid #fff;
  transition: all 0.1s ease-in;
}
main section.banner {
  color: #fff;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../imgs/hero-main.png) center/ cover;
  flex-basis: auto;
  flex-shrink: 1;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #12002f;
    opacity: 0.4;
  }
}

main section.banner .home-container {
  position: relative;
  z-index: 1;
}
.home-container h1 {
  color: white;
  font-size: 72px;
  font-weight: 900;
}
.reserve {
  color: white;
  font-size: 30px;
  padding: 1rem 0;
  font-weight: 300;
}
.dino-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: url('../imgs/rexkingdom.png') center / cover;
  align-items: center;
}
td img {
  width: 150px;
  height: 75px;
  margin-left: 0.5rem;
  border-radius: 10% 10% 10% 10%;
}
table,
th,
td {
  padding: 1rem;
  border-collapse: collapse;
  text-align: left;
}
td {
  font-size: 1.2rem;
}
tr {
  margin-left: auto;
}
td img:nth-of-type(1) {
  padding-top: 5px;
}
main.table {
  width: 82vw;
  height: 90vh;
  background-color: #fff5;
  backdrop-filter: blur(3px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
}
.table_header {
  width: 100%;
  height: 10%;
  background-color: rgba(239, 123, 22, 0.865);
  padding: 0.8rem 1rem;
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
.table_header h2 {
  font-family: var(--nav-font);
  font-weight: 300;
  letter-spacing: 3px;
}
.table_body {
  width: 95%;
  max-height: calc(89% - 0.8rem);
  background-color: #fffb;
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
}
.table_body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.table_body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}
.table_body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
table {
  width: 100%;
}
thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #244027ae;
  color: #fff;
}
tbody tr:nth-child(even) {
  background-color: #0000000b;
}
tbody tr:hover {
  background-color: #fff6;
}
.dino-details {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(250, 101, 1);
}
.hide-desktop {
  display: none;
}

.dino-container .dino-list {
  list-style: none;
}
.dino-container .dino-list a {
  text-decoration: none;
  font-size: 48px;
  color: #eee;
}

.show-body {
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    'aside header'
    'aside main'
    'aside footer';
}
aside {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  align-items: flex-start;
  grid-area: aside;
  background-color: #edf0ee;
  color: #244027;
  border-radius: 5px;
}
aside h2 {
  text-align: center;
  font-weight: 300;
  font-size: 2.6rem;
  margin: 1rem;
}

.aside-section h3 {
  font-weight: 600;
  padding: 1rem;
}
.aside-section span {
  font-style: italic;
  height: 100%;
  font-weight: 300;
  margin: 10px 20px;
}
.aside-section span:last-of-type {
  margin: 0px 20px;
  word-wrap: break-word;
}
.show-header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../imgs/raptorete.png') center / cover;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
.show-header h1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: 0px 1px 5px #fff;
  font-family: var(--nav-font);
  text-transform: uppercase;
}
.show-main {
  grid-area: main;
  background: linear-gradient(135deg, #124f179e, #7bb584da);
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-shrink: auto;
  justify-content: center;
  align-items: center;
}
.show-main img {
  border: 5px solid #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  max-width: 700px;
  max-height: 700px;
}
.show-main figcaption {
  margin: 0 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer {
  background: linear-gradient(to right, #2c2a2aec, #2c2a2ade);
  border-radius: 5px 5px 0px 0px;
}

.return-to-dinos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
}
.return-to-dinos a {
  text-decoration: none;
  padding: 10px;
  margin-left: 15px;
  border-radius: 5px;
  background-color: rgb(250, 101, 1);
  text-transform: uppercase;
  color: #fff;
}
.return-to-dinos #dino-edit {
  background-color: rgb(5, 140, 250);
  width: 60px;
  text-align: center;
  cursor: pointer;
}
.return-to-dinos #dino-delete {
  background-color: rgb(241, 7, 7);
  width: 90px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-left: 15px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
.dino-add-container {
  padding-bottom: 1rem;
  width: 100%;
  height: 50px;
  background-color: #222;
  border-radius: 5px;
  transform: translate(0%, -10%);
  position: fixed;
  bottom: 0;
  opacity: 0.9;
}
.add-dino-version {
  color: #ccc;
  position: fixed;
  transform: translate(10%, 75%);
  font-size: 1.25rem;
}
.dino-add-btn {
  text-decoration: none;
  background-color: rgb(111, 253, 111);
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  padding: 0.75rem 1rem;
  margin-bottom: 20px;
  position: fixed;
  transform: translate(-3%, 25%);
  right: 0;
}

#years {
  color: rgb(250, 101, 1);
  font-style: italic;
}
.booking-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../imgs/mainstreet.png);
  background-size: cover;
}
.panel {
  background-color: #eee;
  padding: 1rem 4em;
  width: 100%;
  max-width: 1100px;
  flex-basis: auto;
  flex-shrink: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
}
.pricing-plan {
  border-bottom: 1px solid #12002f;
}
.pricing-plan:last-child {
  border-bottom: none;
}
.pricing-img {
  margin-bottom: 25px;
  width: 200px;
  margin-top: 10px;
}
.pricing-header {
  color: #12002f;
  font-weight: 600;
  letter-spacing: 1px;
}
.pricing-features {
  margin: 50px 0 25px;
  color: #12002f;
}
.pricing-features-item {
  font-weight: 900;
  letter-spacing: 1px;
  list-style: none;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #12002f;
}
.pricing-features-item:last-child {
  border-bottom: 1px solid #12002f;
}
.pricing-price {
  color: #12002f;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid rgb(250, 101, 1);
  border-radius: 10px;
  color: rgb(250, 101, 1);
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
}
.pricing-button:hover,
.pricing-button:focus {
  cursor: pointer;
  background-color: rgb(250, 101, 1);
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.pricing-button.is-featured {
  background-color: rgb(250, 101, 1);
  color: #fff;
}
.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
  background-color: #fff;
  color: rgb(250, 101, 1);
}

.is-active {
  display: flex;
  opacity: 1;
}
.is-active:hover {
  border: 1px solid #000;
  height: 50px;
  width: 50px;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 1.2rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
}
.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  /* padding: 0.0125rem; */
  position: absolute;
  width: 100%;
  height: 7px;
  border-radius: 99px;
  background-color: #2e3047;
  transition-duration: 0.25s;
}
.hamburger > span::before {
  content: '';
  top: -13px;
}
.hamburger > span::after {
  content: '';
  top: 13px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}
.weather {
  z-index: 99 !important;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 10px;
  margin-left: 10px;
}
#weather-image {
  height: 20px;
  width: 20px;
}
.hours {
  z-index: 99 !important;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 30px;
  margin-left: 10px;
}
.login-link {
  z-index: 99 !important;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 1.5rem;
}
.login-link a {
  text-decoration: none;
  color: #222;
  margin-left: 10px;
}
.logout-link-btn {
  columns: #222;
  outline: none;
  border: none;
  background: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}
.mobile-dropdown {
  visibility: hidden;
  position: absolute;
  height: 10px;
  display: flex;
  /* font-size: 30px; */
  letter-spacing: 0.05px;
  background: linear-gradient(
    to top left,
    rgba(255, 29, 24, 1),
    rgba(240, 184, 62, 1)
  );
  z-index: 10;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.4);
}

.mobile-dropdown > a {
  text-align: center;
  font-family: var(--nav-font);
  letter-spacing: 3px;
  text-decoration: none;
  background: none;
  border-bottom: 2px solid transparent;
  width: 100%;
  padding: 15px 0px;
  color: #fff;
}
.no-click {
  pointer-events: none;
}
.mobile-dropdown > a:hover {
  width: 40%;
  transition: all 0.2s ease;
  border-bottom: 2px solid #fff;
}

.is-selected {
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 99px;
  margin: auto;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  border-radius: 0px 0px 5px 5px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 50%;
  display: flex;
  background-color: #fff;
  border: 5px solid #222d;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
}
.modal-section label {
  align-self: center;
  margin-bottom: 5px;
  font-size: 20px;
  width: 100%;
  border-bottom: 2px solid #bbb;
}
.modal-label {
  display: block;
  width: 100%;
  margin: 20px;
  align-self: center;
}
.modal-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modal-select #tickets,
.modal-select #trip-length {
  position: relative;
  width: 300px;
  height: 40px;
  font-size: 20px;
  align-self: center;
  border: 2px solid #222;
  border-radius: 5px;
  text-align: center;
}
.modal h2 {
  font-family: var(--nav-font);
  font-size: 42px;
  font-weight: 300;
  text-transform: uppercase;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.pricing-button-modal {
  border: 1px solid rgb(250, 101, 1);
  border-radius: 10px;
  color: rgb(250, 101, 1);
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 10px;
}
.pricing-button-modal:hover,
.pricing-button-modal:focus {
  cursor: pointer;
  background-color: #eee;
  transition: background-color 200ms ease-in-out;
}

.pricing-button-modal.is-featured {
  background-color: rgb(253, 148, 36);
  color: white;
}
.pricing-button-modal-is-featured:hover,
.pricing-button-modal-is-featured:focus {
  background-color: #aaa;
}

.close-modal {
  position: relative;
  top: 1%;
  left: 47%;
  font-size: 30px;
  font-weight: 700;
  height: 40px;
  color: #333;
  cursor: pointer;
  border: 0.5px solid #333;
  padding: 0px 5px 0px 5px;
  background: none;
  border-radius: 5px;
}
.close-modal:hover {
  color: #777;
}

.basic-img {
  opacity: 0.7;
}

.silver-img {
  opacity: 0.7;
}

#nav-logo {
  height: 175px;
  width: 175px;
}
.hidden {
  display: none;
}
.thank-you-body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thank-you-header {
  text-transform: uppercase;
  padding: 2rem;
}
.thank-you-link {
  padding-top: 2rem;
}
.thank-you-link a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: rgb(250, 101, 1);
  border-radius: 5px;
  color: #fff;
}
.thank-you-link a:hover {
  color: #fff;
  background-color: rgb(253, 148, 36);
}
.thank-you-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thank-you-inner h2 {
  margin: 1rem;
  font-weight: 400;
}

.thank-you-inner h3 {
  padding: 2rem;
  font-weight: 300;
}
.thank-you-inner li {
  list-style: none;
  padding: 0.5rem;
}
.thank-you-inner li:hover {
  color: #555;
}
.thank-you-inner a {
  text-decoration: none;
  color: var(--main-font);
}
.thank-you-inner li:last-of-type {
  padding-bottom: 2rem;
}
.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url('../imgs/angryrex3.png') center / cover;
}
.error-wrapper h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 2rem;
}
.error-wrapper h2 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 2rem;
}
.error-wrapper a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: rgb(250, 101, 1);
  border-radius: 5px;
  color: #fff;
}
.new-contact {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../imgs/control-bg.png') center / cover;
  font-size: 1.5rem;
  overflow: hidden;
}
.new-dino {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../imgs/indombaby.png') center / cover;
  font-size: 1.5rem;
}

.new-dino-form-wrapper {
  background-color: #fffc;
  width: 75%;
  min-width: 350px;
  padding: 35px 50px;
  border-radius: 10px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.2);
}
.new-dino-form-wrapper h1 {
  font-size: 30px;
  text-align: center;
  color: #12002f;
}
.new-dino-form-wrapper p {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #2e3047;
  font-size: 14px;
  font-weight: 400;
}
.new-dino-form {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}
.new-form-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px 30px;
  margin-bottom: 20px;
}
.new-form-column label {
  font-size: 14px;
  color: #12002f;
  font-weight: 600;
}
.new-form-column textarea,
.new-form-column input {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.5px solid #c4cae0;
  margin-top: 5px;
}
.new-form-column textarea {
  resize: none;
}
.new-form-column textarea:focus,
.new-form-column input:focus {
  outline: none;
  border-color: rgb(250, 101, 1);
  transition: all 0.2s ease;
}

.new-btn {
  padding: 1rem 1.5rem;
  background-color: rgb(250, 101, 1);
  border-radius: 5px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  float: right;
  text-transform: uppercase;
}
.new-btn:hover {
  background-color: rgb(253, 148, 36);
}
.register-body {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-body::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../imgs/logo1.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.2;
  filter: alpha(opacity=20);
  height: 100%;
  width: 100%;
}
.register-body h1 {
  text-align: center;
  font-family: var(--nav-font);
  font-weight: 300;
  font-size: 80px;
}
.register-label {
  font-weight: 600;
}

.register-label,
.register-input {
  height: 30px;
  margin: 10px;
}

.register-input:focus {
  border: 2px solid rgb(250, 101, 1);
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 75%;
}
.register-input {
  width: 40%;
  outline: none;
  border-radius: 5px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  align-self: flex-end;
  padding-left: 0.5rem;
}
.register-form-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  margin-bottom: 40px;
  width: 100%;
}
.register-form-section #email {
  margin-left: 25px;
}
.register-btn {
  padding: 1rem 1.5rem;
  background-color: rgb(250, 101, 1);
  border-radius: 5px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
.register-btn:hover {
  background-color: rgb(253, 148, 36);
}
.flash-error {
  color: #fff;
  border: 1px solid rgb(240, 61, 61);
  background-color: rgb(240, 61, 61);
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 25px;
  text-align: center;
  padding-top: 3px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.flash-success {
  color: #fff;
  border: 1px solid rgb(12, 209, 12);
  background-color: rgb(12, 209, 12);
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  z-index: 99;
  border-radius: 5px;
  opacity: 0.95;
}
.close-flash {
  outline: none;
  border: none;
  color: #fff;
  background: none;
  position: relative;
  height: 100%;
  float: right;
  cursor: pointer;
  transform: translate(-50%, -10%);
  font-size: 20px;
}
@media screen and (max-width: 1279px) {
  .container.btn {
    margin: 0 auto;
  }
  h3 {
    font-size: 25px;
  }
  .home-container {
    margin: 0px;
  }
  .home-container h1 {
    font-size: 60px;
  }
  /* #years {
    font-size: 52px;
  } */

  .nav-links-desktop {
    font-size: 20px;
  }

  .dino-content {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .nav-item-desktop {
    font-size: 32px;
  }
  .show-main img {
    border: none;
    margin-bottom: 30px;
    flex-shrink: 1;
    width: 100%;
    height: auto;
  }
  .show-main figcaption {
    margin-bottom: 20px;
  }
  .container {
    justify-content: center;
  }
  h1,
  h3 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .main-btn {
    margin-left: 32px;
  }
  .home-container {
    margin: 0px;
    padding: 0px 0px;
  }
  .home-container h1 {
    font-size: 46px;
  }
  #years {
    font-size: 52px;
  }
  .modal-label label {
    font-size: 18px;
  }
  .dino-header h1 {
    font-size: 36px;
  }
  .dino-header p {
    font-size: 16px;
  }

  .dino-details {
    background-color: rgb(250, 101, 1);
  }
  td {
    min-width: 12.1rem;
  }
  .table_header {
    font-size: 50px;
    margin-top: auto;
  }
  .table_header h2 {
    padding-top: 1.25rem;
  }
  .register-body {
    display: flex;
    height: 60vh;
  }
  .register-body h1 {
    padding-top: 3rem;
  }
  .register-label {
    margin-top: auto;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    width: 100%;
    height: 5%;
  }
  #nav-logo {
    height: 90px;
    width: 90px;
  }
  .menu-toggle {
    display: block;
  }
  .mobile-dropdown.is-selected {
    visibility: visible;
  }
  .mobile-dropdown.is-selected a {
    font-size: 33px;
  }
  #meet {
    border-right: 2px solid transparent;
  }
  .container.btn {
    margin: 0 auto;
  }
  .weather {
    display: none;
  }
  .hours {
    display: none;
  }
  .home-container {
    margin: 0px;
    padding: 0px 0px;
  }
  .home-container h1 {
    font-size: 46px;
  }
  #years {
    font-size: 52px;
  }
  .modal {
    max-height: 100%;
    justify-content: space-evenly;
  }
  .modal-buttons {
    display: flex;
    flex-direction: row;
  }
  .pricing-button-modal {
    font-size: 16px;
  }
  .modal label {
    font-size: 16px;
  }
  .modal-select #tickets,
  .modal-select #trip-length {
    width: 200px;
  }

  .container {
    padding-left: 32px;
    padding-right: 32px;
    justify-content: center;
  }
  .dino-header {
    display: none;
  }
  .hide-desktop {
    display: block;
    margin: 20px 40px;
    color: #fff;
  }

  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 25px;
  }
  .nav-links-desktop {
    display: none;
  }
  .register-body h1 {
    font-weight: 400;
    font-size: 70px;
    margin-bottom: 40px;
  }
  .register-label,
  .register-input {
    height: 20px;
    margin: 10px;
    padding-left: 0.5rem;
  }
  .flash-error {
    color: #fff;
    border: 1px solid rgb(240, 61, 61);
    background-color: rgb(240, 61, 61);
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  .flash-success {
    color: #fff;
    border: 1px solid rgb(12, 209, 12);
    background-color: rgb(12, 209, 12);
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    z-index: 99;
    border-radius: 5px;
    opacity: 0.95;
  }
  .dino-add-container {
    background-color: #222;
    transform: translate(0%, -10%);
    position: fixed;
    bottom: 0;
    opacity: 0.9;
    height: 40px;
  }
  .add-dino-version {
    color: #ccc;
    position: fixed;
    transform: translate(10%, 100%);
    font-size: 10px;
  }
  .dino-add-btn {
    text-decoration: none;
    background-color: rgb(111, 253, 111);
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    padding: 0.5rem 0.75rem;
    position: fixed;
    transform: translate(-20%, 25%);
    right: 0;
  }
  .show-body {
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      'header'
      'main'
      'aside'
      'footer';
  }
  footer .return-to-dinos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: 'left center right';
  }
  footer .return-btn-return {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  footer .return-btn-edit {
    grid-area: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  footer .return-btn-delete {
    grid-area: right;
  }
  .new-dino {
    max-width: 100%;
  }
  .new-form-row .new-form-input,
  .new-form-row textarea {
    max-width: 93%;
  }
  .new-dino-form-wrapper {
    max-height: 75%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 3px 3px 10px 5px;
    max-width: 90%;
  }
  .new-dino-form-wrapper::-webkit-scrollbar {
    width: 0;
  }
  .table_header {
    font-size: 40px;
    margin-top: 0 auto;
  }
  .table_header h2 {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .table_header {
    font-size: 30px;
  }
  .table_header h2 {
    padding-top: 3rem;
  }
  .modal {
    width: 70%;
    height: 50%;
  }
  .pricing-button-modal {
    font-size: 14px;
  }
  .close-modal {
    left: 43%;
  }
}

@media screen and (max-width: 550px) {
  .new-dino {
    max-width: 100%;
  }

  .new-btn {
    border-bottom-width: 10px;
    margin-right: 20px;
  }
  .hide-desktop {
    color: #222;
  }
  .thank-you-body {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0.25rem;
  }
  .thank-you-img img {
    width: 360px;
    margin-top: 0;
  }
  .thank-you-header {
    text-transform: uppercase;
    padding: 0.25rem;
  }
  .thank-you-header h1 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .thank-you-link {
    padding-top: 0.25rem;
  }
  .thank-you-link a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    background-color: rgb(250, 101, 1);
    border-radius: 5px;
    color: #fff;
  }
  .thank-you-link a:hover {
    color: #fff;
    background-color: rgb(253, 148, 36);
  }
  .thank-you-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .thank-you-inner h2 {
    margin: 0.5rem;
    font-weight: 400;
    font-size: 16px;
    padding: 1rem 0.5rem;
  }

  .thank-you-inner h3 {
    padding: 0.5rem;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0.75rem;
  }
  .thank-you-inner li {
    list-style: none;
    padding: 0.25rem;
    font-size: 10px;
  }
  .thank-you-inner li:hover {
    color: #555;
  }
  .thank-you-inner a {
    text-decoration: none;
    color: var(--main-font);
  }
  .thank-you-inner li:last-of-type {
    padding-bottom: 0.1.5rem;
  }
  .modal-select #tickets,
  .modal-select #trip-length {
    width: 200px;
    height: 30px;
    font-size: 16px;
  }
  .modal-section label {
    font-size: 14px;
  }
  .pricing-button-modal {
    padding: 10px 25px;
    text-decoration: none;
    margin: 10px;
  }
  .error-wrapper h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding: 0.5rem;
  }
  .error-wrapper h2 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 0.5rem;
  }
  .error-wrapper a {
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    background-color: rgb(250, 101, 1);
    border-radius: 5px;
    color: #fff;
  }
  .login-link a {
    font-size: 12px;
  }
  .login-link span {
    font-size: 12px;
  }
  .logout-link-btn {
    font-size: 12px;
    height: 10px;
    padding-bottom: 1rem;
  }
  .greeting {
    display: none;
  }
  .dino-add-btn {
    font-size: 10px;
    padding: 0.5rem 0.5rem;
    transform: translate(-3%, 25%);
  }
  .add-dino-version {
    font-size: 0.6rem;
    transform: translate(5%, 125%);
  }
  .aside-section:last-of-type {
    margin-bottom: 20px;
  }
  .main-btn {
    font-size: 16px;
    color: #fff;
    background-color: rgb(250, 101, 1);
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
  }
  .table_header {
    font-size: 20px;
    text-align: center;
    padding: 0 0 1rem 0;
  }
  .table_header h2 {
    padding-right: 0rem;
    text-wrap: nowrap;
  }
}

@media screen and (max-width: 425px) {
  .hide-desktop {
    font-size: 30px;
  }
  .thank-you-body {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0.25rem;
  }
  .thank-you-img img {
    width: 360px;
    margin-top: 0;
  }
  .thank-you-header {
    text-transform: uppercase;
    padding: 0.25rem;
  }
  .thank-you-header h1 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .thank-you-link {
    padding-top: 0.25rem;
  }
  .thank-you-link a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    background-color: rgb(250, 101, 1);
    border-radius: 5px;
    color: #fff;
  }
  .thank-you-link a:hover {
    color: #fff;
    background-color: rgb(253, 148, 36);
  }
  .thank-you-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .thank-you-inner h2 {
    margin: 0.5rem;
    font-weight: 400;
    font-size: 16px;
    padding: 1rem 0.5rem;
  }

  .thank-you-inner h3 {
    padding: 0.5rem;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0.75rem;
  }
  .thank-you-inner li {
    list-style: none;
    padding: 0.25rem;
    font-size: 10px;
  }
  .thank-you-inner li:hover {
    color: #555;
  }
  .thank-you-inner a {
    text-decoration: none;
    color: var(--main-font);
  }
  .thank-you-inner li:last-of-type {
    padding-bottom: 0.1.5rem;
  }
  .pricing-button-modal {
    padding: 8px 15px;
    font-size: 12px;
  }
  .table_header {
    font-size: 20px;
    text-align: center;
    padding: 0 0 1.25rem 0;
  }
  .table_header h2 {
    padding-right: 0rem;
  }
  .close-modal {
    left: 43%;
  }
  .modal {
    height: 70%;
  }
}

@media screen and (max-width: 375px) {
  .dino-img {
    max-width: 300px;
    min-height: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .thank-you-body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0.25rem;
  }
  .thank-you-img img {
    width: 360px;
    margin-top: 0;
  }
  .thank-you-header {
    text-transform: uppercase;
    padding: 0.25rem;
  }
  .thank-you-header h1 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .thank-you-link {
    padding-top: 0.25rem;
  }
  .thank-you-link a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    background-color: rgb(250, 101, 1);
    border-radius: 5px;
    color: #fff;
  }
  .thank-you-link a:hover {
    color: #fff;
    background-color: rgb(253, 148, 36);
  }
  .thank-you-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .thank-you-inner h2 {
    margin: 0.5rem;
    font-weight: 400;
    font-size: 16px;
    padding: 1rem 0.5rem;
  }

  .thank-you-inner h3 {
    padding: 0.5rem;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0.75rem;
  }
  .thank-you-inner li {
    list-style: none;
    padding: 0.25rem;
    font-size: 10px;
  }
  .thank-you-inner li:hover {
    color: #555;
  }
  .thank-you-inner a {
    text-decoration: none;
    color: var(--main-font);
  }
  .thank-you-inner li:last-of-type {
    padding-bottom: 0.1.5rem;
  }
  .pricing-button-modal {
    padding: 5px 10px;
    font-size: 12px;
  }
  .modal-buttons {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1160px) {
  .panel {
    flex-direction: row;
    opacity: 0.9;
    border-radius: 10px;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    border-right: none;
  }
  .pricing-button {
    opacity: 1;
  }
}
