<% layout('layouts/boilerplate') %> <% for (let dinosaur of dinosaurs) %>
<div class="dino-container">
  <h1>All Dinosaurs</h1>
  <% for (let dinosaur of dinosaurs) { %>
  <ul class="dino-list">
    <li>
      <a href="/dinosaurs/<%= dinosaur._id  %>">
        <%=dinosaur.name %> - <%= dinosaur.species %></a
      >
    </li>
  </ul>

  <% } %>
</div>
