<% layout('layouts/boilerplate') %>
<div class="new-dino">
  <div class="new-dino-form-wrapper">
    <h1>New Dinosaur</h1>
    <p>
      Remember : do not add a dinosaur to the main roster until they have been
      cleared by medical <em>and</em> asset control!
    </p>
    <form
      action="/dinosaurs"
      method="POST"
      class="new-dino-form"
      enctype="multipart/form-data"
    >
      <div class="new-form-row">
        <div class="new-form-column">
          <label for="name" class="new-form-label">Name</label>
          <input
            type="text"
            name="dinosaur[name]"
            id="name"
            class="new-form-input"
            required
          />
        </div>
        <div class="new-form-column">
          <label for="species" class="new-form-label">Species</label>
          <input
            type="text"
            name="dinosaur[species]"
            id="species"
            class="new-form-input"
            required
          />
        </div>
      </div>
      <div class="new-form-row">
        <div class="new-form-column">
          <label for="population" class="new-form-label">Population</label>
          <input
            type="number"
            name="dinosaur[population]"
            id="population"
            class="new-form-input"
            required
          />
        </div>
        <div class="new-form-column">
          <label for="image">Image</label>
          <input type="file" id="image" name="image" />
        </div>
      </div>
      <div class="new-form-row">
        <div class="new-form-column">
          <label for="description" class="new-form-label">Description</label>
          <textarea
            name="dinosaur[description]"
            id="description"
            cols="30"
            rows="3"
            required
          ></textarea>
        </div>
      </div>
      <div class="new-button">
        <button class="new-btn">Add Dinosaur</button>
      </div>
    </form>
  </div>
</div>
